@model IEnumerable<Appointment>
@{
    ViewData["Title"] = "Accueil";
}

<div class="text-center">
    <h1 class="display-4">Bonjour</h1>
    <p>Aujourd'hui le : .</p>
    <p>Voici les rendez-vous du jour : </p>
</div>
<div>
    <table class="table table-hover" style="width:100%">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.DateHour)</th>
                <th>@Html.DisplayNameFor(model => model.IdBrokerNavigation.Lastname)</th>
                <th>@Html.DisplayNameFor(model => model.IdCustomerNavigation.Lastname)</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var appointment in Model)
            {
                <tr>
                    <td> @appointment.DateHour</td>
                    <td> @appointment.IdBrokerNavigation.Lastname</td>
                    <td> @appointment.IdCustomerNavigation.Lastname</td>
                    <td>@Html.ActionLink("Détail", "DetailAppointment", "Appointment", new { id = @appointment.IdAppointment })</td> 
                    <td>@Html.ActionLink("Supprimez", "DeleteAppointment", "Appointment", new { id = @appointment.IdAppointment })</td>
                </tr>
            }
        </tbody>
    </table>
</div>
